<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-9 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Contact Us:</h5>
          <p>XYZ, Singasandara, <br>Near More SuperMarket, <br>Bangalore, <br>Karnataka-560068 <br>+91-9413991996</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#facebook">Facebook</a>
              </li>
              <li>
                <a href="#twitter">Twitter</a>
              </li>
              <li>
                <a href="#insta">Instagram</a>
              </li>
              <li>
                <a href="#reddit">Reddit</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="localhost:4200/about-us"> Rent2Ride</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->