<div class="details">
<br><br><br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a  class="btn btn-light" routerLink="allbook">All Bookings</a>
    <a  class="btn btn-light" routerLink="addv">Add Bike</a>
    <a  class="btn btn-light" routerLink="removev">Remove Bike</a>
    <a  class="btn btn-light" routerLink="set-price">Set Price</a>
    <a  class="btn btn-light" routerLink="changename">Modify Name</a>
  </div>

  <div class="forms">   <br><router-outlet></router-outlet></div>
</div>