<div class="offers">

<h1 style="text-align:center;color:white;"> OFFERS AND DEALS</h1>  
<div class="card">
    <h5 class="card-header">FLAT 50% DISCOUNT ON 1ST RIDE.</h5>
    <div class="card-body">
      <p class="card-text">New Users can avail 50% discount upto {{100|currency:"INR"}} on their first ride booked through Website or App.</p>
      <a (click)="copy('FLAT100')" class="btn btn-primary card-button" >FLAT50</a>
    </div>

</div>
<br>
<div class="card">   
    <h5 class="card-header">FLAT 15% DISCOUNT ON 3 RIDES.</h5>
    <div class="card-body">
      <p class="card-text">Existing Users can avail 15% discount upto {{50|currency:"INR"}} on 3 rides booked through Website or App in the month of July.</p>
      <a (click)="copy('FLAT50')" class="btn btn-primary card-button" >FLAT15</a>
    </div>
</div>
<br>
<div class="card">   
    <h5 class="card-header">UPTO 20% DISCOUNT ON WEEKLY RIDES.</h5>
    <div class="card-body">
      <p class="card-text">The users can avail 20% discount upto {{75|currency:"INR"}} on weekly rides.</p>
      <a (click)="copy('WOW20')" class="btn btn-primary card-button" >WOW20</a>
    </div>
</div>
<br>
<div class="card">   
    <h5 class="card-header">UPTO 30% CASHBACK ON ONE BIKE RIDE IN JULY.</h5>
    <div class="card-body">
      <p class="card-text">The users are eligible for 30% cashback upto {{50|currency:"INR"}} on first ride in the month of July.</p>
      <a (click)="copy('JULY30')" class="btn btn-primary card-button" >JULY30</a>
    </div>
</div>
<br>
<div class="card">   
  <h5 class="card-header">25% CASHBACK ON WEEKENDS.</h5>
  <div class="card-body">
    <p class="card-text">The users are eligible for 25% cashback upto {{50|currency:"INR"}} on weekends (Friday, Saturday and Sunday).</p>
    <a (click)="copy('WEEKENDS25')" class="btn btn-primary card-button" >WEEKENDS25</a>
  </div>
</div>
</div>